
.tags{
	margin-top:7px;
	margin-bottom:7px;
	padding:0;
	float:left;
	position:relative;
	font-size:14px;
}

.tags PL{
margin-left:0px;
padding:2px 15px 2px 10px;
	background:#575e75;
	color:#fff;
	-moz-border-left-radius:10px 0 0 10px;
	-webkit-border-left-radius:10px 0 0 10px;	
	border-radius:10px 0 0 10px;
}

.tags version_html{
margin-left: -10px;
	padding:2px 10px 2px 10px;
	background:#f0652a;
	color:#fff;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;	
	border-radius:0 10px 10px 0;
}

.tags version_py{
margin-left: -10px;
	padding:2px 10px 2px 10px;
	background:#ffd343;
	color:#3776ab;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;	
	border-radius:0 10px 10px 0;
}

.tags version30{
margin-left: -10px;
	padding:2px 10px 2px 10px;
	background:#4d97ff;
	color:#fff;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;	
	border-radius:0 10px 10px 0;
}

.tags version20{
margin-left: -10px;
	padding:2px 10px 2px 10px;
	background:#99BBFF;
	color:#fff;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;	
	border-radius:0 10px 10px 0;
}

.tags version14{
margin-left: -10px;
	padding:2px 10px 2px 10px;
	background:#999;
	color:#fff;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;	
	border-radius:0 10px 10px 0;
}

.tags version_ai2{
margin-left: -10px;
	padding:2px 10px 2px 10px;
	background:#F88D34;
	color:#fff;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;	
	border-radius:0 10px 10px 0;
}


.tags newcourse{
margin-left: 10px;
padding:2px 10px 2px 10px;
	background:#ff458a;
	color:#fff;
	-moz-border-left-radius:10px 10px 10px 10px;
	-webkit-border-left-radius:10px 10px 10px 10px;	
	border-radius:10px 10px 10px 10px;
}

.tags feature{
margin-left: 10px;
padding:2px 10px 2px 10px;
	background:#575e75;
	color:#fff;
	-moz-border-left-radius:10px 10px 10px 10px;
	-webkit-border-left-radius:10px 10px 10px 10px;	
	border-radius:10px 10px 10px 10px;
}