blockquote {
  margin: 0 auto;
  width:90%;
  font: 20px "微軟正黑體", sans-serif;
}

p{
max-width: 75%;
color: #666;
clear:both;
border-radius: 14px; 
border: 2px solid;

}
p.them {
    position: relative;
  float:left;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #9EFFC3;
    
    text-align: left;
    border-color: #73BA8E;
}
p.them::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #9EFFC3;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}
p.them::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 19px solid #73BA8E;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top:-2px;
    left: -18px;
}

p.me {
    position: relative;
    float:right;
    margin-bottom: 10px;
    margin-left: 25%;
    padding: 10px;
    background-color: #9DF9F8;
    text-align: left;
    border-color: #88D8D7;
}
p.me::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #9DF9F8;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}
p.me::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 19px solid #88D8D7;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -2px;
    right: -18px;

}